<?xml version="1.0" encoding="UTF-8"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
	<configSections>
		<section name="ElFinder" type="ElFinder.Connector.Configuration.ElFinderSection" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
		<section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
	</configSections>
	<appSettings>
	</appSettings>
	<connectionStrings>
    <!--<add name="con" connectionString="Data Source=103.28.36.185;Initial Catalog=nhhunftx_hoanglevi;Persist Security Info=True;User ID=nhhunftx_hoanglevi_dbusr;Password=aB123$567dbusr" providerName="System.Data.SqlClient"/>
    <add name="yafnet" connectionString="Data Source=103.28.36.185;Initial Catalog=nhhunftx_hoanglevi;Persist Security Info=True;User ID=nhhunftx_hoanglevi_dbusr;Password=aB123$567dbusr" providerName="System.Data.SqlClient"/>-->
    <!--<add name="con" connectionString="Data Source=(local);Initial Catalog=tinv4;Persist Security Info=True;User ID=sa;Password=123456; Pooling=False; " providerName="System.Data.SqlClient"/>-->
    <!--<add name="con" connectionString="Data Source=103.28.36.71;Initial Catalog=nhbie6dn_binhluantin;Persist Security Info=True;User ID=nhbie6dn_binhluantindbusr;Password=aB123$567dbusr" providerName="System.Data.SqlClient"/>-->
    <!--<add name="con" connectionString="Data Source=(local);Initial Catalog=nhbie6dn_binhluantin;Persist Security Info=True;User ID=nhbie6dn_binhluantindbusr;Password=aB123$567dbusr;Pooling=false;" providerName="System.Data.SqlClient"/>-->
    <add name="con" connectionString="Data Source=103.28.36.71;Initial Catalog=nhbie6dn_binhluantin;Persist Security Info=True;User ID=nhbie6dn_binhluantindbusr;Password=aB123$567dbusr;Pooling=false;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
    <authentication mode="Forms">
      <forms name=".YAFNET_Authentication" protection="All" timeout="43200" cookieless="UseCookies" />
    </authentication>
		<compilation debug="true" targetFramework="4.0">
		<!--<compilation debug="true">-->
			<assemblies>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<!--<add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
				<add assembly="Microsoft.ReportViewer.WinForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" /></assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</buildProviders>
		</compilation>
		<!--
          The <authentication> section enables configuration 
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
        -->
		<globalization culture="en-US" uiCulture="en" requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="UTF-8" />
		<customErrors mode="Off" />
		<httpRuntime executionTimeout="90" maxRequestLength="409600" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true" requestValidationMode="2.0" />
		<pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
        <!-- Default: use non-dynamic (compiled classes) in YAF -->
        <add tagPrefix="YAF" namespace="YAF.Controls" assembly="YAF.Controls" />
        <add tagPrefix="YAF" namespace="YAF.Controls.Statistics" assembly="YAF.Controls" />
        <add tagPrefix="YAF" namespace="YAF.Classes" />
        <add tagPrefix="YAF" namespace="YAF" />
			</controls>
      <namespaces>
        <add namespace="YAF.Core" />
        <add namespace="YAF.Controls" />
        <add namespace="YAF.Utils" />
        <add namespace="YAF.Types.Interfaces" />
        <add namespace="YAF.Types" />
      </namespaces>
		</pages>
		<httpHandlers>
      <add verb="GET" path="Resource.ashx" type="YAF.YafResourceHandler, YAF" />
			<add verb="*" path="*.connector" type="ElFinder.Connector.Connector" />
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
			<add verb="*" path="*.plugin" type="linh.httpModule.defaultHandle, linh.httpModule" />
			<add verb="*" path="*.captcha" type="linh.httpModule.Captcha, linh.httpModule" />
      
		</httpHandlers>
		<httpModules>
			<add type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" name="UrlRewriter" />
      <add name="YafTaskModule" type="YAF.Core.YafTaskModule, YAF.Core" />
		</httpModules>
    <membership defaultProvider="YafMembershipProvider1" hashAlgorithmType="SHA1">
      <providers>
        <clear />
        <!-- YAF's ASP.NET Membership Provider is designed to work a bit better with YAF.NET options, but is by no means required.
             But, you will not be able to switch providers after installing your forum. -->
        <add name="YafMembershipProvider" applicationName="YetAnotherForum" connectionStringName="yafnet" requiresUniqueEmail="true" useSalt="true" type="YAF.Providers.Membership.YafMembershipProvider" />
        <!-- Set as default if you want to use use the built-in ASP.NET membership provider. Password Type of "Encrypted" requires a machine key. -->
        <add name="AspNetSqlMembershipProvider" applicationName="YetAnotherForum" connectionStringName="yafnet" enablePasswordReset="false" enablePasswordRetrieval="true" maxInvalidPasswordAttempts="5" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="5" passwordAttemptWindow="15" passwordFormat="Encrypted" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" type="System.Web.Security.SqlMembershipProvider" />
        <add name="YafMembershipProvider1" applicationName="YetAnotherForum" connectionStringName="yafnet" requiresUniqueEmail="true" useSalt="true" type="linh.providers.YafMembershipProvider" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="5" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="YafRoleProvider1">
      <providers>
        <clear />
        <!-- YAF's ASP.NET Role Provider is designed to work a bit better with YAF.NET options, but is by no means required.
             But, you will not be able to switch providers after installing your forum. -->
        <!--<add name="YafRoleProvider" applicationName="YetAnotherForum" connectionStringName="yafnet" type="YAF.Providers.Roles.YafRoleProvider"/>-->
        <!-- Set as default if you want to use use the built-in ASP.NET role provider. -->
        <!--<add name="AspNetSqlRoleProvider" applicationName="YetAnotherForum" connectionStringName="yafnet" type="System.Web.Security.SqlRoleProvider"/>-->
        <add name="YafRoleProvider1" applicationName="YetAnotherForum" connectionStringName="yafnet" type="linh.providers.YafRoleProvider" />
      </providers>
    </roleManager>
    <profile enabled="true" defaultProvider="YafProfileProvider" inherits="YAF.Utils.YafUserProfile">
      <providers>
        <clear />
        <!-- YAF's ASP.NET Profile Provider is designed to work a bit better with YAF.NET options, but is by no means required.
             But, you will not be able to switch providers after installing your forum. -->
        <add name="YafProfileProvider" applicationName="YetAnotherForum" connectionStringName="yafnet" type="YAF.Providers.Profile.YafProfileProvider" />
        <!-- Set as default if you want to use use the built-in ASP.NET profile provider. -->
        <add name="AspNetSqlProfileProvider" applicationName="YetAnotherForum" connectionStringName="yafnet" type="System.Web.Profile.SqlProfileProvider" />
      </providers>
    </profile>
	</system.web>
	<ElFinder uplMaxSize="10" dotFiles="true">
		<Root Url="http://localhost:55599/files" Path="~/up" />
		<DisabledCommands>
			<add Name="duplicate" />
		</DisabledCommands>
		<DisabledMimeTypes>
			<add Name="application/exe" />
			<add Name="application/x-msdownload" />
		</DisabledMimeTypes>
	</ElFinder>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
			<!--<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />-->
      <remove name="YafTaskModule" />
      <remove name="UrlRewriter" />
      <add name="YafTaskModule" type="YAF.Core.YafTaskModule, YAF.Core" preCondition="managedHandler" />
			<add name="reWriter" type="Intelligencia.UrlRewriter.RewriterHttpModule" />
		</modules>
		<handlers>
            <add name="rewrite" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
			<add name="*.plugin" path="*.plugin" verb="*" type="linh.httpModule.defaultHandle, linh.httpModule" resourceType="Unspecified" preCondition="integratedMode" />
			<add name="*.captcha" path="*.captcha" verb="*" type="linh.httpModule.Captcha, linh.httpModule" resourceType="Unspecified" preCondition="integratedMode" />
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <add name="YafHandler" preCondition="integratedMode" verb="GET" path="Resource.ashx" type="YAF.YafResourceHandler, YAF" />
		</handlers>
		<security>
			<requestFiltering>
				<requestLimits maxQueryString="209715200" maxAllowedContentLength="209715200" maxUrl="209715200">
					<headerLimits>
						<add header="Content-type" sizeLimit="209715200" />
					</headerLimits>
				</requestLimits>
			</requestFiltering>
		</security>
	</system.webServer>
	<rewriter>
		<!--<rewrite url="^(/.+(\.gif|\.png|\.jpg|\.ico|\.aspx|\.asmx|\.ashx|\.pdf|\.css|\.js)(\?.+)?)$" to="$1" processing="stop"/>-->
		<rewrite url="^~/$" to="~/lib/pages/Default.aspx?pages=home" processing="stop" />
		<rewrite url="~/lib/(.*)" to="~/lib/$1" processing="stop" />
    <rewrite url="~/r$" to="~/lib/pages/web.aspx" processing="stop" />
    
    <rewrite url="~/(.*)WebResource.axd(.*)" to="WebResource.axd$2" processing="stop" />
    <rewrite url="~/(.*).plugin(.*)" to="$1.plugin$2" processing="stop" />
    <if url=".htm$">
      <rewrite url="~/Nhom/(.+)/(.+)/Gioi-thieu.htm" to="~/lib/pages/Default.aspx?pages=Nhom-Thanh-vien&amp;NHOM_ID=$2" processing="stop" />
      <rewrite url="~/Nhom/(.+)/(.+)/Thanh-vien.htm" to="~/lib/pages/Default.aspx?pages=Nhom-Thanh-vien&amp;NHOM_ID=$2" processing="stop" />
		</if>
		<if url="/$">
			<!--<rewrite url="^~/(.+)/$" to="~/lib/pages/Default.aspx?pages=$1" processing="stop"/>-->
      <rewrite url="~/Bao/(\d*)/(\d*)/" to="~/lib/pages/Bao.aspx?ID=$1&amp;page=$2" processing="stop" />
      <rewrite url="~/Bao/(\d*)/" to="~/lib/pages/Bao.aspx?ID=$1" processing="stop" />
      <rewrite url="~/(.+)/(\d*)/" to="~/lib/pages/DanhMuc.aspx?Alias=$1&amp;page=$2" processing="stop" />
      <rewrite url="~/(.+)/" to="~/lib/pages/DanhMuc.aspx?Alias=$1" processing="stop" />
    </if>
		<if url=".xml$">
			<rewrite url="/Sitemap(\d*).xml" to="~/sitemaps.aspx?page=$1" processing="stop" />
			<rewrite url="/Sitemap.xml" to="~/sitemaps.aspx" />
		</if>
		<if url=".rss$">
			<rewrite url="~/rss/(.+)/(.+).rss" to="~/lib/pages/rss.aspx?DM_Ten=$1&amp;CM_Ten=$2" processing="stop" />
			<rewrite url="~/rss/(.+).rss" to="~/lib/pages/rss.aspx?DM_Ten=$1" processing="stop" />
			<rewrite url="~/topic/(\d*).rss" to="~/topic-rss.aspx?ID=$1" processing="stop" />
			<rewrite url="~/rss.rss" to="~/lib/pages/rss.aspx" />
			<rewrite url="~/u/(.+).rss" to="~/u-rss.aspx?Username=$1" processing="stop" />
		</if>
		<if url=".html$">
      
      <rewrite url="~/(.+)/(\d*).html" to="~/lib/pages/View.aspx?ID=$2" processing="stop" />
      

			<rewrite url="~/(\d*).html$" to="~/lib/pages/Default.aspx?pages=m&amp;id=$1" processing="stop" />
		</if>
		<if url=".topic$">
			<rewrite url="~/topic/(.+)/(\d*).topic" to="~/topic.aspx?ID=$2" processing="stop" />
		</if>
		<if url=".clip$">
			<rewrite url="~/clip/(.+)/(\d*).topic" to="~/clip.aspx?ID=$2" processing="stop" />
		</if>
    
    <rewrite url="~/Su-kien/(.+)/(.+)/?(.*)" to="~/lib/pages/Default.aspx?pages=Su-kien-view&amp;DM_Ma=$2&amp;TIN_ID=$2&amp;$4" processing="stop" />
    
    <rewrite url="~/Tin-tuc/(.*)/(.*)/(.*).html?(.*)$" to="~/lib/pages/Default.aspx?pages=Tin-tuc-view&amp;TIN-ID=$3&amp;DM_Ma=$1&amp;$4" processing="stop" />
    
		<rewrite url="~/(.+)/(.+)/page/(\d*)" to="~/lib/pages/Default.aspx?pages=cm&amp;DM_Ten=$1&amp;CM_Ten=$2&amp;page=$3" processing="stop" />
		<rewrite url="~/(.+)/page/(\d*)" to="~/lib/pages/Default.aspx?pages=dm&amp;DM_Ten=$1&amp;page=$2" processing="stop" />
  
	</rewriter>
</configuration>
