<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<section name="ElFinder" type="ElFinder.Connector.Configuration.ElFinderSection" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
	</configSections>
	<appSettings>
	</appSettings>
	<connectionStrings>
        <!--<add name="con" connectionString="Data Source=(local);Initial Catalog=xetui;Persist Security Info=True;User ID=sa;Password=123456;Pooling=false;" providerName="System.Data.SqlClient" />-->
        <add name="con" connectionString="Data Source=(local);Initial Catalog=xetui;Integrated Security=True; Pooling=false;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" /></assemblies>
		</compilation>
		<authentication mode="None" />
		<customErrors mode="Off" />
        <!--<customErrors mode="On" defaultRedirect="~/html/Error.aspx">
            <error statusCode="404" redirect="~/html/Error404.aspx" />
        </customErrors>-->
		<httpRuntime executionTimeout="90" maxRequestLength="409600" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true" requestValidationMode="2.0" />
		<pages renderAllHiddenFieldsAtTopOfForm="false" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" enableEventValidation="false" enableViewState="false" viewStateEncryptionMode="Never">
			<controls>
			</controls>
		</pages>
		<httpHandlers>
			<add verb="*" path="*.plugin" type="linh.httpModule.defaultHandle, linh.httpModule" />
			<add verb="*" path="*.captcha" type="linh.httpModule.Captcha, linh.httpModule" />
		</httpHandlers>
	</system.web>
	<system.webServer>
        <httpErrors>
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/html/Error404.aspx" responseMode="ExecuteURL" />
            <error statusCode="500" prefixLanguageFilePath="" path="/html/Error.aspx" responseMode="ExecuteURL" />
            <error statusCode="501" prefixLanguageFilePath="" path="/html/Error.aspx" responseMode="ExecuteURL" />
            <error statusCode="502" prefixLanguageFilePath="" path="/html/Error.aspx" responseMode="ExecuteURL" />
        </httpErrors>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
		</modules>
		<handlers>
			<add name="*.plugin" path="*.plugin" verb="*" type="linh.httpModule.defaultHandle, linh.httpModule" resourceType="Unspecified" preCondition="integratedMode" />
			<add name="*.captcha" path="*.captcha" verb="*" type="linh.httpModule.Captcha, linh.httpModule" resourceType="Unspecified" preCondition="integratedMode" />
		</handlers>
		<security>
			<requestFiltering>
				<requestLimits maxQueryString="209715200" maxAllowedContentLength="209715200" maxUrl="209715200">
					<headerLimits>
						<add header="Content-type" sizeLimit="209715200" />
					</headerLimits>
				</requestLimits>
			</requestFiltering>
		</security>
    <rewrite>
      <rules>
        
        <rule name="Prevent image hotlinking">
          <match url=".*\.(gif|jpg|png|jpeg|bmp)$"/>
          <!--<conditions>
            <add input="{HTTP_REFERER}" pattern="^$" negate="true" />
            <add input="{HTTP_REFERER}" pattern="^http://ruslany\.net/.*$" negate="true" />
          </conditions>
          <action type="Rewrite" url="/images/say_no_to_hotlinking.jpg" />-->
        <action type="Rewrite" url="/lib/handler/Images.ashx?path={R:0}" />
        </rule>
          
        <rule name="Register" enabled="true">
          <match url="^Register/$" />
          <action type="Rewrite" url="/html/Register.aspx" />
        </rule>
        
          <rule name="Login" enabled="true">
          <match url="^login/$" />
          <action type="Rewrite" url="/html/Login.aspx" />
        </rule>

        <rule name="About us" enabled="true">
          <match url="^About/([^/]+)/$" />
          <action type="Rewrite" url="/html/AboutUs.aspx" />
        </rule>
        
        
          <rule name="Search" enabled="true">
              <match url="^search/$" />
              <action type="Rewrite" url="/html/search.aspx" />
          </rule>
          
          <rule name="Register Success" enabled="true">
              <match url="^Register-Success/$" />
              <action type="Rewrite" url="/html/RegisterDone.aspx" />
          </rule>
        

          <rule name="Add User blog" enabled="true" stopProcessing="true">
              <match url="^user/([^/]+)/blogs/add/$" />
              <action type="Rewrite" url="/html/BlogAdd.aspx?PID_ID={R:1}&amp;Loai=1" />
          </rule>
          
          <rule name="Edit User blog" enabled="true" stopProcessing="true">
              <match url="^user/([^/]+)/blogs/edit/([0-9]+)/$" />
              <action type="Rewrite" url="/html/BlogAdd.aspx?PID_ID={R:1}&amp;Loai=1&amp;ID={R:2}" />
          </rule>

          <rule name="User blog view" enabled="true">
              <match url="^user/([^/]+)/blogs/([0-9]+)/$" />
              <action type="Rewrite" url="/html/Profile-blog-view.aspx?PID_ID={R:1}&amp;Loai=1&amp;ID={R:2}" />
          </rule>
          <rule name="User blog" enabled="true">
              <match url="^user/([^/]+)/blogs/$" />
              <action type="Rewrite" url="/html/Profile.aspx?u={R:1}" />
          </rule>

          <rule name="User profile fans" enabled="true">
              <match url="^user/([^/]+)/followers$" />
              <action type="Rewrite" url="/html/Profile-Fans.aspx?u={R:1}" />
          </rule>
        
        <rule name="User profile liked car" enabled="true">
              <match url="^user/([^/]+)/cars$" />
              <action type="Rewrite" url="/html/Profiile-LikedCars.aspx?u={R:1}" />
          </rule>
          
          <rule name="User profile">
            <match url="^user/([^/]+)$" />
            <action type="Rewrite" url="/html/Profile.aspx?u={R:1}" />
        </rule>
          
          
        <rule name="User Account">
            <match url="^acc/$" />
            <action type="Rewrite" url="/html/MyAccount.aspx" />
        </rule>
        <rule name="Recover password">
            <match url="^Recover/$" />
            <action type="Rewrite" url="/html/Recover.aspx" />
        </rule>
          <rule name="Recover password pages">
              <match url="^Recover/([0-9]+)/([0-9]+)/$$" />
              <action type="Rewrite" url="/html/Recover.aspx?ID={R:1}&amp;Key={R:2}" />
          </rule>
        <rule name="Pm">
            <match url="^pm/$" />
            <action type="Rewrite" url="/html/Inbox.aspx" />
        </rule>
          <rule name="Add car" enabled="true">
              <match url="^cars/add/$" />
              <action type="Rewrite" url="/html/AddCar.aspx" />
          </rule>
          <rule name="Edit car" enabled="true">
              <match url="^cars/edit/([0-9]+)/$" />
              <action type="Rewrite" url="/html/AddCar.aspx?ID={R:1}" />
          </rule>

        
        <rule name="Add Nhom" enabled="true">
              <match url="^group/add/$" />
              <action type="Rewrite" url="/html/NhomAdd.aspx" />
          </rule>
          <rule name="Edit Nhom" enabled="true">
              <match url="^group/edit/([0-9]+)/$" />
              <action type="Rewrite" url="/html/NhomAdd.aspx?ID={R:1}" />
          </rule>

          <rule name="Nhom blog add" enabled="true" stopProcessing="true">
              <match url="^group/([^/]+)/([0-9]+)/blogs/add/$" />
              <action type="Rewrite" url="/html/BlogAdd.aspx?PID_ID={R:2}&amp;Loai=3" />
          </rule>
          <rule name="Nhom blog edit" enabled="true" stopProcessing="true">
              <match url="^group/([^/]+)/([0-9]+)/blogs/edit/([0-9]+)/$" />
              <action type="Rewrite" url="/html/BlogAdd.aspx?PID_ID={R:2}&amp;Loai=3&amp;ID={R:3}" />
          </rule>
          <rule name="Nhom blog view" enabled="true" stopProcessing="true">
              <match url="^group/([^/]+)/([0-9]+)/blogs/([0-9]+)/$" />
              <action type="Rewrite" url="/html/NhomBlogView.aspx?ID={R:3}&amp;Loai=3" />
          </rule>
          <rule name="Nhom blog list" enabled="true" stopProcessing="true">
              <match url="^group/([^/]+)/([0-9]+)/blogs/$" />
              <action type="Rewrite" url="/html/NhomBlogs.aspx?PID_ID={R:2}&amp;Loai=3" />
          </rule>
          
          <rule name="Nhom forum add" enabled="true" stopProcessing="true">
              <match url="^group/([^/]+)/([0-9]+)/forum/add/$" />
              <action type="Rewrite" url="/html/BlogAdd.aspx?PID_ID={R:2}&amp;Loai=4" />
          </rule>
          <rule name="Nhom forum edit" enabled="true" stopProcessing="true">
              <match url="^group/([^/]+)/([0-9]+)/forum/edit/([0-9]+)/$" />
              <action type="Rewrite" url="/html/BlogAdd.aspx?PID_ID={R:2}&amp;Loai=4&amp;ID={R:3}" />
          </rule>
          <rule name="Nhom forum view" enabled="true" stopProcessing="true">
              <match url="^group/([^/]+)/([0-9]+)/forum/([0-9]+)/$" />
              <action type="Rewrite" url="/html/NhomForumView.aspx?ID={R:3}&amp;Loai=4" />
          </rule>
          <rule name="Nhom forum list" enabled="true" stopProcessing="true">
              <match url="^group/([^/]+)/([0-9]+)/forum/$" />
              <action type="Rewrite" url="/html/NhomForum.aspx?PID_ID={R:2}&amp;Loai=4" />
          </rule>
          
        <rule name="Nhom admin" enabled="true" stopProcessing="true">
              <match url="^group/([^/]+)/([0-9]+)/admin/$" />
              <action type="Rewrite" url="/html/NhomAdmin.aspx?ID={R:2}" />
          </rule>
         <rule name="Nhom view" enabled="true" stopProcessing="true">
              <match url="^group/([^/]+)/([0-9]+)/$" />
              <action type="Rewrite" url="/html/NhomHome.aspx?ID={R:2}" />
          </rule>
          
           <rule name="Nhom" enabled="true">
              <match url="^group/$" />
              <action type="Rewrite" url="/html/Nhom.aspx" />
          </rule>  
          
        <rule name="Add blog" enabled="true">
              <match url="^blogs/add/$" />
              <action type="Rewrite" url="/html/BlogAdd.aspx" />
          </rule>


          <rule name="Car newest" enabled="true" stopProcessing="true">
              <match url="^cars/newest/$" />
              <action type="Rewrite" url="/html/CarsNewest.aspx" />
          </rule>

          <rule name="Car top" enabled="true" stopProcessing="true">
              <match url="^cars/top/$" />
              <action type="Rewrite" url="/html/CarsTop.aspx" />
          </rule>
        
        
          <rule name="Car Model xe" enabled="true" stopProcessing="true">
              <match url="^cars/([^/]+)/([^/]+)/$" />
              <action type="Rewrite" url="/html/CarByModelXe.aspx?Ten={R:2}" />
          </rule> 
          
          <rule name="Car Hang xe" enabled="true" stopProcessing="true">
              <match url="^cars/([^/]+)/$" />
              <action type="Rewrite" url="/html/CarByHangXe.aspx?Ten={R:1}" />
          </rule>

          
          
          <rule name="Car all" enabled="true" stopProcessing="true">
              <match url="^cars/$" />
              <action type="Rewrite" url="/html/Cars.aspx" />
          </rule>


          <rule name="Add car blog" enabled="true" stopProcessing="true">
              <match url="^cars/([^/]+)/([^/]+)/([^/]+)/([0-9]+)/blogs/add/$" />
              <action type="Rewrite" url="/html/BlogAdd.aspx?PID_ID={R:4}&amp;Loai=2" />
          </rule>
          <rule name="Edit car blog" enabled="true" stopProcessing="true">
              <match url="^cars/([^/]+)/([^/]+)/([^/]+)/([0-9]+)/blogs/edit/([0-9]+)/$" />
              <action type="Rewrite" url="/html/BlogAdd.aspx?PID_ID={R:4}&amp;Loai=2&amp;ID={R:5}" />
          </rule>
          
           
        <rule name="Show all comment" enabled="true" stopProcessing="true">
              <match url="^comments/([^/]+)/$" />
              <action type="Rewrite" url="/html/BinhLuanAll.aspx?ID={R:1}" />
          </rule>
          
          <rule name="Car blog view" enabled="true">
              <match url="^cars/([^/]+)/([^/]+)/([^/]+)/([0-9]+)/blogs/([0-9]+)/$" />
              <action type="Rewrite" url="/html/car-blog-view.aspx?PID_ID={R:4}&amp;Loai=2&amp;ID={R:5}" />
          </rule>
          <rule name="Car blog" enabled="true">
              <match url="^cars/([^/]+)/([^/]+)/([^/]+)/([0-9]+)/blogs/$" />
              <action type="Rewrite" url="/html/car-blog.aspx?PID_ID={R:4}&amp;Loai=2" />
          </rule>

         


          <rule name="View car" enabled="true">
              <match url="^cars/([^/]+)/([^/]+)/([^/]+)/([0-9]+)/$" />
              <action type="Rewrite" url="/html/car-view.aspx?ID={R:4}" />
          </rule>
          
          <rule name="My car" enabled="true">
              <match url="^my-cars/$" />
              <action type="Rewrite" url="/html/MyCars.aspx" />
          </rule>
          <rule name="Active Email" enabled="true">
              <match url="^Xac-nhan/([0-9]+)/([0-9]+)/$" />
              <action type="Rewrite" url="/html/ActiveEmail.aspx?ID={R:1}&amp;Key={R:2}" />
          </rule>

        <rule name="Login page">
          <match url="^Login/?$" />
          <action type="Rewrite" url="/html/Login.aspx" />
        </rule>
        
        <rule name="WebResource">
              <match url="^WebResource.axd(.*)" />
              <action type="Rewrite" url="/WebResource.axd{R:1}" />
          </rule>
          <rule name="Lib folder">
              <match url="^lib/(.*)" />
              <action type="Rewrite" url="/lib/{R:1}" />
          </rule>
          <rule name="Html folder">
              <match url="^html/(.*)" />
              <action type="Rewrite" url="/html/{R:1}" />
          </rule>
          
          <rule name="Home page">
              <match url="^/?$" />
              <action type="Rewrite" url="/html/Default.aspx" />
          </rule>
          
          <rule name="Alias page">
              <match url="^([^/]+)" />
              <action type="Rewrite" url="/html/Default.aspx?Alias={R:1}" />
          </rule>
      </rules>
    </rewrite>
    
	</system.webServer>
  
</configuration>
