<?xml version="1.0" encoding="UTF-8"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
	<configSections>
		<section name="ElFinder" type="ElFinder.Connector.Configuration.ElFinderSection" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
		<section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
	</configSections>
	<appSettings>
	</appSettings>
	<connectionStrings>
    <!--<add name="con" connectionString="Data Source=(local);Initial Catalog=natural20130109;Persist Security Info=True;User ID=sa;Password=sa;  Pooling=False;Connect Timeout=3000;" providerName="System.Data.SqlClient"/>-->
    <add name="con" connectionString="Persist Security Info=False;User ID=nhnat75r_dbusr;pwd=aB123$567dbusr;database=nhnat75r_naturalsaloon; server=naturalsalon.vn;Min Pool Size=5;Max Pool Size=200;Pooling=false" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.http://localhost:6714/website_docsoft/web.config
        -->
		<compilation debug="true" targetFramework="4.0">
		<!--<compilation debug="true">-->
			<assemblies>
				<!--<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				--><!--<add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>--><!--
				<add assembly="Microsoft.ReportViewer.WinForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" /></assemblies>
			<!--<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</buildProviders>-->
		</compilation>
		<!--
          The <authentication> section enables configuration 
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms" />
		<!--
           The <customErrors> section enables configuration 
           of what to do if/when an unhandled error occurs 
           during the execution of a request. Specifically, 
           it enables developers to configure html error pages 
           to be displayed in place of a error stack trace.

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
		<customErrors mode="Off" />
		<httpRuntime executionTimeout="90" maxRequestLength="409600" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true" requestValidationMode="2.0" />
		<pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<!-- begin gian hang control-->
				<!--<add assembly="plugin.agromart.doanhNghiep.thongTin" namespace="plugin.agromart.doanhNghiep.thongTin" tagPrefix="GianHang" />-->
				<!-- begin gian hang control-->
			</controls>
		</pages>
		<httpHandlers>
			<add verb="*" path="*.connector" type="ElFinder.Connector.Connector" />
			<!--<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>-->
			<add verb="*" path="*.plugin" type="linh.httpModule.defaultHandle, linh.httpModule" />
			<add verb="*" path="*.captcha" type="linh.httpModule.Captcha, linh.httpModule" />
		</httpHandlers>
		<httpModules>
			<add type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" name="UrlRewriter" />
		</httpModules>
	</system.web>
	<ElFinder uplMaxSize="10" dotFiles="true">
		<Root Url="http://localhost:55599/files" Path="~/up" />
		<DisabledCommands>
			<add Name="duplicate" />
		</DisabledCommands>
		<DisabledMimeTypes>
			<add Name="application/exe" />
			<add Name="application/x-msdownload" />
		</DisabledMimeTypes>
	</ElFinder>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
			<!--<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />-->
			<add name="reWriter" type="Intelligencia.UrlRewriter.RewriterHttpModule" />
		</modules>
		<handlers>
            <add name="rewrite" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
			<add name="*.plugin" path="*.plugin" verb="*" type="linh.httpModule.defaultHandle, linh.httpModule" resourceType="Unspecified" preCondition="integratedMode" />
			<add name="*.captcha" path="*.captcha" verb="*" type="linh.httpModule.Captcha, linh.httpModule" resourceType="Unspecified" preCondition="integratedMode" />
			<!--<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>-->
		</handlers>
		<security>
			<requestFiltering>
				<requestLimits maxQueryString="209715200" maxAllowedContentLength="209715200" maxUrl="209715200">
					<headerLimits>
						<add header="Content-type" sizeLimit="209715200" />
					</headerLimits>
				</requestLimits>
			</requestFiltering>
		</security>
        <staticContent>
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
        </staticContent>
	</system.webServer>
	<rewriter>
		<rewrite url="^(/.+(\.gif|\.png|\.jpg|\.ico|\.aspx|\.asmx|\.ashx|\.pdf|\.css|\.js)(\?.+)?)$" to="$1" processing="stop" />
		<rewrite url="^~/$" to="~/lib/pages/Default.aspx?pages=home" processing="stop" />
		<rewrite url="~/lib/(.*)" to="~/lib/$1" processing="stop" />
		<if url=".html$">
		</if>
		<if url="/$">
			<!--<rewrite url="^~/(.+)/$" to="~/lib/pages/Default.aspx?pages=$1" processing="stop"/>-->
			<rewrite url="~/Products/(.+)/(\d*)/" to="~/lib/pages/Default.aspx?pages=Hang-hoa&amp;DM_Ma=$1&amp;page=$2" processing="stop" />
			<rewrite url="~/Products/(.+)/" to="~/lib/pages/Default.aspx?pages=Hang-hoa&amp;DM_Ma=$1" processing="stop" />
			<rewrite url="~/Products/" to="~/lib/pages/Default.aspx?pages=Hang-hoa" processing="stop" />
			<rewrite url="~/Tin-tuc/(.+)/(\d*)/" to="~/lib/pages/Default.aspx?pages=Tin-tuc&amp;DM_Ma=$1&amp;page=$2" processing="stop" />
			<rewrite url="~/Tin-tuc/(.+)/" to="~/lib/pages/Default.aspx?pages=Tin-tuc&amp;DM_Ma=$1" processing="stop" />
			<rewrite url="~/Tin-tuc/" to="~/lib/pages/Default.aspx?pages=Tin-tuc" processing="stop" />
      <rewrite url="~/Khach-hang/" to="~/lib/pages/Default.aspx?pages=Khach-hang" processing="stop" />
      <rewrite url="~/m/thu-chi/$" to="~/lib/pages/mobile.aspx?pages=mobile-thu-chi" processing="stop"/>
      <rewrite url="~/m/cong-no/$" to="~/lib/pages/mobile.aspx?pages=mobile-cong-no" processing="stop"/>
      <rewrite url="~/m/khach-hang/$" to="~/lib/pages/mobile.aspx?pages=mobile-khach-hang" processing="stop"/>
      <rewrite url="~/m/nhan-vien/$" to="~/lib/pages/mobile.aspx?pages=mobile-nhan-vien" processing="stop"/>
      <rewrite url="~/m/kho/$" to="~/lib/pages/mobile.aspx?pages=mobile-kho" processing="stop"/>
      <rewrite url="~/m/lich/$" to="~/lib/pages/mobile.aspx?pages=mobile-lich" processing="stop"/>
      <rewrite url="~/m/" to="~/lib/pages/mobile.aspx?pages=mobile" processing="stop"/>
			<rewrite url="~/(.+)/" to="~/lib/pages/Default.aspx?pages=$1" processing="stop" />
		</if>
		<if url=".xml$">
			<rewrite url="/Sitemap(\d*).xml" to="~/sitemaps.aspx?page=$1" processing="stop" />
			<rewrite url="/Sitemap.xml" to="~/sitemaps.aspx" />
		</if>
		<if url=".rss$">
			<rewrite url="~/rss/(.+)/(.+).rss" to="~/lib/pages/rss.aspx?DM_Ten=$1&amp;CM_Ten=$2" processing="stop" />
			<rewrite url="~/rss/(.+).rss" to="~/lib/pages/rss.aspx?DM_Ten=$1" processing="stop" />
			<rewrite url="~/topic/(\d*).rss" to="~/topic-rss.aspx?ID=$1" processing="stop" />
			<rewrite url="~/rss.rss" to="~/lib/pages/rss.aspx" />
			<rewrite url="~/u/(.+).rss" to="~/u-rss.aspx?Username=$1" processing="stop" />
		</if>
		<if url=".html$">
      <rewrite url="~/Album-Danh-sach/(.+).html" to="~/lib/pages/Default.aspx?pages=Album-view&amp;VID=$1" processing="stop" />
      
      <rewrite url="~/Khuyen-mai/(.+).html" to="~/lib/pages/Default.aspx?pages=Khuyen-mai-view&amp;VID=$1" processing="stop" />

      <rewrite url="~/Desk-Dich-Vu/(.*).html" to="~/lib/pages/Default.aspx?pages=View-Dich-vu&amp;VID=$1" processing="stop" />
      
      <rewrite url="~/Luu-but/(.*).html" to="~/lib/pages/Default.aspx?pages=Luu-but-view&amp;VID=$1" processing="stop" />

      <rewrite url="~/Video/(.*).html" to="~/lib/pages/Default.aspx?pages=Video-view&amp;VID=$1" processing="stop" />

      <rewrite url="~/Nhan-vien/(.*).html" to="~/lib/pages/Default.aspx?pages=Nhan-vien-view&amp;VID=$1" processing="stop" />

      <rewrite url="~/Tinh-trang/(.*).html" to="~/lib/pages/Default.aspx?pages=Tinh-trang-view&amp;VID=$1" processing="stop" />
    
      <rewrite url="~/Khach-hang/(.*).html" to="~/lib/pages/Default.aspx?pages=Khach-hang-view&amp;KH_ID=$1" processing="stop" />
      
      <rewrite url="~/Tu-van/(.*).html" to="~/lib/pages/Default.aspx?pages=Tu-van-view&amp;TV_ID=$1" processing="stop" />
      
		</if>
		<if url=".topic$">
			<rewrite url="~/topic/(.+)/(\d*).topic" to="~/topic.aspx?ID=$2" processing="stop" />
		</if>
		<if url=".clip$">
			<rewrite url="~/clip/(.+)/(\d*).topic" to="~/clip.aspx?ID=$2" processing="stop" />
		</if>
		<rewrite url="~/(.+)/(.+)/page/(\d*)" to="~/lib/pages/Default.aspx?pages=cm&amp;DM_Ten=$1&amp;CM_Ten=$2&amp;page=$3" processing="stop" />
		<rewrite url="~/(.+)/page/(\d*)" to="~/lib/pages/Default.aspx?pages=dm&amp;DM_Ten=$1&amp;page=$2" processing="stop" />
	</rewriter>
</configuration>
